*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul,li{
    list-style-type: none;
}
.container{
    max-width: 800px;
    margin: 100px auto;
}
.content{
    display: flex;
    align-items: center;
}
.input-number .form-number{
    border: none;
}
.input-number .form-number:focus{
    border: none;
    outline: none;
}
#list{
    width: 290px;
    height: 300px;
    overflow: auto;
    background-color: white;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-left: -29px;
    border: 1px solid #ccc;
}
#list li.li_flag, li#li{
    padding: 5px;
    font-size: 13px;
}
#list li:hover{
    background-color: #ddd;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.form-select{
    cursor: pointer;
    user-select: none;
    width: 120px;
    height: 40px;
    padding: 5px;
    background-color: #f5f5f5;
}